<div class="container">
  <ul class="nav justify-content-center border">
      <li class="nav-item">
          <a class="nav-link active" href="/"><span title="Pakistan" class="flag-icon flag-icon-pk"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/usa"><span title="United States of America(USA)" class="flag-icon flag-icon-us"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/uk"><span title="United Kingdom(UK)" class="flag-icon flag-icon-gb"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/canada"><span title="Canada" class="flag-icon flag-icon-ca"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/australia"><span title="Australia" class="flag-icon flag-icon-au"></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/uae"><span title="United Arab Emirates(UAE)" class="flag-icon flag-icon-ae"></span></a>
      </li>
  </ul>

  <router-outlet></router-outlet>
  
</div>