<form>
  <!-- First Row -->
  <div class="row border">
    <div class="col-md-12">
    <p class="sectionName">Basic Information</p>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Full Name">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Mobile #</label>
            <input type="text" class="form-control" placeholder="Employee ID">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Organization Name</label>
            <input type="text" class="form-control" placeholder="Employee ID">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Joining Date</label>
            <input type="date" class="form-control">
        </div>
    </div>
    
  </div>
  <!-- Second Row -->
  <div class="row border">
    <div class="col-md-6">
      
      
          <p class="sectionName">Total Income</p>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Basic Salary</label>
                  <input type="number" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Allowances/Reimbursement</label>
                  <input type="number" class="form-control">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Variable Pay</label>
                  <input type="number" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Value of Prequisite</label>
                  <input type="number" class="form-control">
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Call Value</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Employer PF Contribution</label>
                    <input type="number" class="form-control">
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Others</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Total Salary</label>
                      <input type="number" disabled class="form-control">
                  </div>
              </div>
            </div>
     
    </div>
    <div class="col-md-6">
      
          <p class="sectionName">Deductable Allowances & Straight Deduction</p>

          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Zakat</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>WWF</label>
                    <input type="number" class="form-control">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Charitable Donation</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Income Adjustment</label>
                    <input type="number" class="form-control">
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Profit on Debit</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
            </div>
            <p class="sectionName">Tax Reduction</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="inline-form">
                        <label>Teacher</label>
                        <input type="radio">
                        <label>Researcher</label>
                        <input type="radio" >
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <div class="inline-form">
                        <label>Senior Citizen</label>
                        <input type="checkbox">
                    </div>
                </div>
              </div>
       
    </div>
    
  </div>
  <!-- Third Row -->

  <div class="row border">
      
          <div class="col-md-12">
              <p class="sectionName">Tax Credit</p>
            <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label>Donation to Approved NPOs</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label>Investment in Shares</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label>Approved Pension Fund</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label>Profit on Debt - Housing Loan</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
                <div class="col">
                    <div class="form-group">
                        <label>Foreign Tax Credit</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Fourth Row -->
    <div class="row border">
          <div class="col-md-12">
              <p class="sectionName">Tax Adjustments</p>
            <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Cash Withdrawls</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Registration of Motor Vehicle</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Motor Vehicle Tax</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Telehone / Mobile Bills</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Other Adjustments</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label>Transactions in Bank - Cash</label>
                      <input type="number" class="form-control">
                  </div>
              </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Elec bill of commercial and industrial consumer</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Adv. Tax on Purchase of Domestic Air Ticket</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Adv. Tax on Sale or Transfer of Immovable Property</label>
                          <input type="number" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Adv. Tax on Functions and Gatherings</label>
                          <input type="number" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Adv. Tax on School Fee Paid to an Educational Ins.</label>
                          <input type="number" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Adv. tax on Purchase of International Air ticket</label>
                          <input type="number" class="form-control">
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Adv. Tax deducted on Banking Transaction</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                </div>
          </div>
       
      </div>
      

</form>
